* {
  margin: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 5px;
  font-size: 12px;
}

.logo {
  font-weight: bold;
  font-size: 20px;
  color: #2b2b2b;
}

.logo span {
  color: #d9b19d; /* the small dot */
}

.nav-links,
.social-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-links li,
.social-links li {
  color: #999;
  cursor: pointer;
  position: relative;
}

.nav-links li.active {
  color: #2b2b2b;
  font-weight: bold;
}

.nav-links li.active::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 4px;
  background: #e6c0ac; /* underline color */
  border-radius: 2px;
}
.hero-section {
  background-image: url('apartment.jpg'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  color: white;
  border-radius: 5px;
}
.hero-content .author  {
  display: inline-block;
  padding: 4px 10px;
  font-size: 12px;
  margin-bottom: 10px;
  line-height: 20px;
}
.hero-content h1 {
  font-size: 25px;
  text-align: center;
  line-height: 1.4;
  max-width: 800px;
  font-weight: 700;
}
.hero-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 5px;
  font-size: 12px;
}
.nav-links2 li.active2 {
  color: #2b2b2b;
  font-weight: bold;
}
.nav-links2 {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 25px;
}
.logo2 {
  font-size: 20px;
  color: #2b2b2b;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0%;
}
.card{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  overflow: hidden;
  margin: 5px;
  position: relative;
}
.card-items img {
  width: 393px;
  height: 300px;
  object-fit: cover;
  border-radius: 3px;
}
.card-items p {
  font-size: 14px;
  color: #333;
}
.card-items h2 {
  font-size: 16px;
  color: #2b2b2b;
  margin: 10px 0;
  font-weight: 500;
}

.trending {
  font-size: 20px;
  color: #2b2b2b;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0%;
}
.card2 {
  display: grid;
  grid-template-areas: "a a b" "c d e";
  gap: 20px;
}

.card2 > div {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 1rem;
  color: white;
  overflow: hidden;
  position: relative;
  align-items:start;
  isolation: isolate;
  transition: all .3s linear;
}
.card2 > div > div{
  transform: translateY(100%);
  transition: all .3s linear;
}
.card2 > div:hover div{
  transform: translateY(0);
}
.card2 > div::after{
  content: "CREATIVE";
  background: rgba(43, 43, 43, 0.486);
  position: absolute;
  z-index: -90;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100%;
  transition: all .3s linear;
  text-align: end;
  margin: 10px;
}
.card2 > div:hover::after{
  bottom: 0;
}
.card2 > div p {
  color: #fff8f8b9;
}

.card-items1 {
  background-image: url('mirro.jpg');
  background-size: cover;
  grid-area:a;
  
}
.card-items2 {
  background-image: url('base.jpg');
  background-size: cover;
  grid-area:b;


}
.card-items3 {
  background-image: url('stairs.jpg');
  background-size: cover;
  grid-area:c;
}
.card-items4 {
  background-image: url('chair.jpg');
  background-size: cover;
  grid-area:d;
}
.card-items5 {
  background-image: url('mintable.jpg');
  background-size: cover;
  grid-area:e;
}
@media screen and (max-width: 980px) {
  .card2 {
      grid-template-areas: "a a b" "c d b " "e e e" ;
   }
  
}
@media  screen and (max-width: 768px) {
  
  .container{
    padding: 10px;
    overflow-x: hidden;
  }
  .hero-section {
    width: auto-fill;
    padding: 20px;
    height: 90vh;
  }
  .hero-content h1 {
    font-size: 20px;
  }
  .hero-content .author {
    font-size: 10px;
  }
  .logo2 {
    font-size: 7px;
    line-height: 20px;
  }
  .nav-links2 {
    font-size: 6px;
    line-height: 12px;
  }
  .card {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
  }
  .card-items img {
    width: 100%;
    height: 150px;
  }
  .card2 {
    grid-template: "a b" "c d" "e e";
  }
}
